.form-container {
  padding: 16px;
  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: black;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  flex-direction: column;
  flex: 1;
  margin-top: 16px;
  align-items: center;
}

p {
  padding-top: 32px;
}

label {
  float: left;
  width: 200px;
  padding-right: 24px;
}

input {
  padding: 8px;
  float: left;
  font-size: 16px;
}

button {
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  background-color: teal;
  grid-column: 2 / 3;
  font-size: 16px;
}

textarea {
  padding: 8px;
  box-sizing: border-box;
  resize: none;
}