/* Add a black background color to the top navigation */
.topnav {
  background-color: whitesmoke;
  overflow: hidden;
  height: 3em;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom-width: 3px;
  border-bottom-color: black;
}

.logo {
  width: 200px;
  text-align: center;
  margin-top: 8px;
}

.content {
  display: flex;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 3em;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  list-style: none;
  overflow-y: auto;
  padding-top: 32px;
  font-size: 16px;
}

.link {
  padding-top: 16px;
  color: white;
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
} 

.main {
  margin-left: 200px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-top: 16px;
  width: calc(100% - 200px);
}